<a href="https://colab.research.google.com/github/Nitinvenkat27/BASIC-ML/blob/main/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
from sklearn import linear_model
print("completed")

completed

In [13]:
file=pd.read_csv("/content/boston.csv")
print("printboston")

printboston

In [14]:
file.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [15]:
file.tail()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88,11.9

In [20]:
data=pd.read_csv("/content/boston.csv")
edprint("printbaston")

printbaston

In [10]:
file.head()

   YearsExperience  Salary
0              1.1   39343
1              1.3   46205
2              1.5   37731
3              2.0   43525
4              2.2   39891

In [11]:
file.tail()

    YearsExperience  Salary
25              9.0  105582
26              9.5  116969
27              9.6  112635
28             10.3  122391
29             10.5  121872

In [21]:
X = data.drop('medv', axis=1).values
y = data['medv'].values

In [22]:
reg = linear_model.LinearRegression()
reg.fit(X, y)

LinearRegression()

In [24]:
from sklearn.metrics import mean_absolute_error,r2_score,mean_squared_error
y_pr = reg.predict(X)

print(f'MAE = {mean_absolute_error(y, y_pr)}')
print(f'MSE = {mean_squared_error(y, y_pr)}')
print(f'RMSE = {np.sqrt(mean_squared_error(y, y_pr))}')
print(f'R_2 = {r2_score(y, y_pr)}')

MAE = 3.2708628109003164
MSE = 21.894831181729202
RMSE = 4.679191295697281
R_2 = 0.7406426641094095